.card-flip > div {
  backface-visibility: hidden;
  transition: transform 500ms;
  transition-timing-function: ease-in;
  width: 100%;
  display: flex;
  transform-style: preserve-3d;
}

.card-front {
  transform: rotateY(0deg);
  position: relative;
  perspective: 40rem;
  min-width: 100%;
  top: 0;
}

.card-flip .card-back {
  transform: rotateY(180deg);
  position: absolute;
  perspective: 40rem;
  min-width: 100%;
  top: 0;
}

.card > .card-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-flip:hover .card-front {
  transform: rotateY(-180deg);
}

.card-flip:hover .card-back {
  transform: rotateY(0deg);
}

.card-flip:hover .card-title-back {
  animation-play-state: running;
}

.card {
  height: 75%;
  min-height: 200px;
  min-width: 90px;
}

.card-title {
  margin-top: 5%;
  text-align: center;
  animation-name: sequence;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 1;
}

.card-title-back {
  list-style-type: none;
  animation-play-state: paused;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 3s;
  opacity: 0.9;
  font-size: 2.2vw;
}

.card-title-back > li:hover {
  color: #fff;
  text-shadow: -1px 1px 8px #000, 1px -1px 8px #fff;
  opacity: 0.8;
}

.card-title-header {
  opacity: 0.5;
  font-size: 3.2vw;
}

.card-img-top {
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sequence {
  animation-name: sequence;
}
@keyframes sequence {
  from {
    transform: scaleX(0.4) translateX(-120px);
    opacity: 0;
  }
}

.card-body {
  object-fit: contain;
  width: 100%;
}

.youtube-player {
  height: 150px;
  width: 300px;
  display: center;
  /* autoplay: 1; */
}

.card-front .youtube-player {
  visibility: hidden;
}
