*{
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.content {
  background-color: transparent;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

.search-circle {
  background-color: black;
  /*filter: blur(1px);*/
  border-radius: 50%;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-circle:hover {
  filter: none;
  transition-duration: 0.5s;
}
#artist-search {
  min-height: 30px;
}
/*
.root-artist-circle {
  background: rgb(209, 19, 19);
  border-radius: 50%;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
*/

<<<<<<< HEAD
=======
.search-circle.search-box {
  text-align: center;
  width: 150px;
  height: 50px;
  top: 100px;
}
>>>>>>> 6f1c40d27a8f8b46d7f1b225786d5f09156b3674

.container {
  display: flex;
  justify-content: center;
}

input[type="text"] {
  height: 20px;
  padding: 5px;
}

.card{
  display: flex;
  position: relative;
  width: 18rem;
  height: 20rem;
  background: lightblue;
  overflow:hidden;
}

.search{
  position: absolute;
  margin-top: 50px;
  text-align: center;
  z-index: 1;
}


.search-box {
  position: relative;
  text-align: center;
  width: 150px;
  height: 50px;
  border: 1px solid black;
  opacity: 0.5;
}