.container {
  padding: 50px;
  margin: 20;
  min-width: 700px;
  min-height: 700px;
}

.a {
  z-index: 1;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  animation: fade 6s;
  background-color: rgba(0, 0, 0, 0);
}

@keyframes fade {
  0% {
    background-color: rgb(0, 0, 0);
  }

  50% {
    background-color: rgb(0, 0, 0);
  }
  75% {
    background-color: rgb(0, 0, 0);
  }

  100% {
    background-color: rgba(242, 245, 169, 0);
  }
}

.right {
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.artist-search-group {
  display: block;
  margin-top: 20%;
}

.artist-search {
  border-radius: 10px;
  max-width: 170px;
  margin-right: 2px;
  min-height: 30px;
  background-color: white;
  justify-content: center;
}

.artist-search:focus {
  outline: none;
}
.btn {
  background-color: rgba(255, 255, 255, 0.15);
  border: white;
  justify-content: center;
  display: flex;
  align-items: center;
  margin: auto;
}

.btn:focus {
  background-color: black;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(200px);
}

.div.search-circle {
  justify-content: center;
  margin: auto;
}

#num-recs {
  border-radius: 10px;
  max-width: 85px;
}

#num-recs:focus {
  outline: none;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.search-circle {
  justify-content: center;
  align-items: center;
  width: 25vw;
  height: 25vw;
  display: flex;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.15);
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
  transition: all 0.1s ease-in-out;
}

.welcome {
  color: white;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}

.helpful {
  color: white;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (max-width: 650px) {
  .search-circle {
    background-color: transparent;
    justify-content: center;
    margin: auto;
  }

  #num-recs {
    justify-content: center;
  }
}

.modal {
  display: none;
  padding-top: 100px;
  left: 0;
  top: 0;
}

.modal-backdrop {
  z-index: -1;
}

.modal-header {
  display: block;
}
